<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Animated Books with CSS 3D Transforms - Demo 1</title>
		<meta name="description" content="Animated Books with CSS 3D Transforms" />
		<meta name="keywords" content="book, 3d, interactive, animated, 3d transform, css, web design" />
		<meta name="author" content="Marco Barría for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/book.css" />
		<style>
		  section {
		    width: 25%;
			float: left;
		  }
		  input {
			border-radius: 5px;
		  }
		  input[type="file"] {
		    border=radius: 5px;
		  }
		  .xiaoshuwu {
		    text-align: center;
			font-size: 60px;
		  }
		  .addbook {
		    margin-top: 30px;
		  }
		</style>
	</head>
	<body>
		<div class="container">
		    <div class="addbook">
			  <form action="/create" method="POST" enctype="multipart/form-data">
			    <fieldset>
	            <legend>添加新书</legend>
			    <section>
				  <label for="title">书名</label>
			      <input type="text" id="title" name="title" />
				</section>
			    <section>
				  <label for="author">作者</label>
			      <input type="text" id="author" name="author" />
				</section>
			    <section>
				  <label for="image">封面</label>
			      <input type="file" id="image" name="image" accept="image/*"  value="选择图片" placeholder="123"/>
				</section>
				<section>
				  <label for="desc">描述</label>
			      <textarea type="file" id="description" name="description"  placeholder="输入描述"></textarea>
				</section>
				<section>
				  <input type="submit" value="添加" />
				</section>
				</fieldest>
	          </form>
			</div>
			
			<div class="component">
                <p class="xiaoshuwu">小书屋</p>
				<ul class="align">
					
					<li>
						<figure class='book'>

							<!-- Front -->

							<ul class='hardcover_front'>
								<li>
									<div class="coverDesign blue">
										<h1>JS</h1>
										<p>FUNCTION</p>
									</div>
								</li>
								<li></li>
							</ul>

							<!-- Pages -->

							<ul class='page'>
								<li></li>
								<li>
									<a class="btn" href="#">Download</a>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

							<!-- Back -->

							<ul class='hardcover_back'>
								<li></li>
								<li></li>
							</ul>
							<ul class='book_spine'>
								<li></li>
								<li></li>
							</ul>
							<figcaption>
								<h1>Storm JS</h1>
								<span>By Marco Barría for Codrops</span>
								
							</figcaption>
						</figure>
					</li>
					
					<li>
						<figure class='book'>

						<!-- Front -->

							<ul class='hardcover_front'>
								<li>
									<img src="img/cover.jpg" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>

						<!-- Pages -->

							<ul class='page'>
								<li></li>
								<li>
									<a class="btn" href="#">Download</a>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

						<!-- Back -->

							<ul class='hardcover_back'>
								<li></li>
								<li></li>
							</ul>
							<ul class='book_spine'>
								<li></li>
								<li></li>
							</ul>
							<figcaption>
								<h1>Papelucho Perdido</h1>
								<span>By Marcela Paz</span>
								
							</figcaption>
						</figure>
					</li>
				</ul>
				
			</div>
		</div><!-- /container -->
	</body>
</html>
